.footer {
    // margin-top: 12rem;
    // margin-bottom: 12rem;
    min-height: 42rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    &__blur {
        position: absolute;
        right: -30%;
        bottom: -50%;
        z-index: -2;
        display: flex;
        div {
            &:first-child {
                width: 43.8rem;
                height: 49.4rem;
                transform: rotate(90deg);
                flex-shrink: 0;
                background: #B9FF82;
                opacity: 0.30000001192092896;
                filter: blur(60px);
            }
            &:last-child {
                width: 43.8rem;
                height: 49.4rem;
                transform: rotate(90deg);
                flex-shrink: 0;
                background: #82BBFF;
                opacity: 0.30000001192092896;
                filter: blur(60px);
            }
        }
    }

    &__container {
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        &:first-child {
            width: 33rem;
        }
        &:last-child {
            display: flex;
            justify-content: space-between;
            gap: 9rem;
        }
    }

    &__logo {
        margin: 0;
    }

    &__descr {
        margin-top: 1.6rem;
        transform: translateX(100%);
        transition: 1s all;
        opacity: 0;
        &._active {
            opacity: 1;
            transition: 1s all;
            transform: translateX(0);
        }
    }

    &__social {
        margin-top: 2.4rem;
        width: 14.4rem;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        transform: scale(0) rotate(-180deg);
        transition: 1s all;
        opacity: 0;
        &._active {
            opacity: 1;
            transition: 1s all;
            transform: scale(1) rotate(0);
        }
        svg {
            path {
                transition: .2s all;
                &:hover {
                    transition: .2s all;
                    fill: #0E1735;
                }
                
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
    }

    &__links-title {
    }

    &__links-link {
    }
}

@media (max-width: 1024px) {
    .footer {
        margin-top: 9rem;
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4rem;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__blur {
            left: -160%;
            bottom: 10%;
        }
        &__item {
            &:last-child {
                gap: 2rem;
                flex-wrap: wrap;
            }
        }
    }
}
@media (max-width: 768px) {
    .footer {
        margin-bottom: 3rem;
    }
}