.house {
    margin-top: 12rem;
    &__container {
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
    }

    &__tabs {
        display: flex;
        gap: 1.6rem;
    }

    &__tab {
        cursor: pointer;
        display: flex;
        padding: 1.2rem 2.4rem;
        align-items: center;
        gap: .8rem;
        border-radius: 3.2rem;
        border: 1px solid var(--neutral-300, #E0E3EB);
        transition: .2s all;
        &_active {
            transition: .2s all;
            transform: scale(1.05);
            border: none;
            background: var(--green-100, #D1FAE5);
            svg {
                transition: .1s all;
                path {
                    transition: .2s all;
                    fill: #10B981;
                } 
            }
            p {
                color: #10B981;
            }
        }
        &:hover {
            transition: .2s all;
            transform: scale(1.05);
            border: none;
            background: var(--green-100, #D1FAE5);
            svg {
                transition: .1s all;
                path {
                    transition: .2s all;
                    fill: #10B981;
                } 
            }
            p {
                color: #10B981;
            }
        }
    }

    &__tab_active {

    }


    &__arrows {
        display: flex;
        gap: .8rem;
    }

    &__arrow-left {
        cursor: pointer;
        display: inline-flex;
        padding: 1.2rem 1.6rem;
        align-items: center;
        gap: 4px;
        border-radius: 3.2rem;
        background: var(--neutral-300, #E0E3EB);
        transition: .2s all;
        &:hover {
            transition: .2s all;
            transform: scale(1.05);
            background: var(--green-500, #10B981);
            svg {
                path {
                    fill: white;
                }
            }
        }
    }

    &__arrow-right {
        cursor: pointer;
        display: inline-flex;
        padding: 1.2rem 1.6rem;
        align-items: center;
        gap: 4px;
        border-radius: 3.2rem;
        background: var(--neutral-300, #E0E3EB);
        transition: .2s all;
        &:hover {
            transition: .2s all;
            transform: scale(1.05);
            background: var(--green-500, #10B981);
            svg {
                path {
                    fill: white;
                }
            }
        }

    }

    &__items {
        display: none;
        margin-top: 4rem;
        overflow: hidden;
        &_active {
            display: flex;
        }
        &__wrapper {
            gap: 2rem;
        }
    }

    &__item {
        gap: 2rem;
    }

    &__img {
        position: relative;
    }

    &__popular {
        
        position: absolute;
        bottom: 1.6rem;
        left: 1.6rem;
        display: inline-flex;
        padding: .8rem 1.6rem;
        align-items: flex-start;
        gap: 1rem;
        border-radius: 3.2rem;
        background: var(--red-100, #FEE2E2);
        z-index: 1;
        p {
            color: var(--red-500, #EF4444);
            font-family: Lexend;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
        }
        
    }

    &__item-title {
        margin-top: 2.4rem;
    }

    &__item-price {
        margin-top: .8rem;
    }

    &__item-heuman {
        margin-top: 2.4rem;
        display: flex;
        gap: 1.6rem;
        align-items: center;
    }

    &__item-icon {
    }

    &__item-wrapper {
    }

    &__item-name {
    }

    &__item-city {
    }

    &__newhouse {
        position: absolute;
        display: inline-flex;
        padding: .8rem 1.6rem;
        bottom: 1.6rem;
        left: 1.6rem;
        align-items: flex-start;
        gap: 1rem;
        border-radius: 3.2rem;
        background: var(--blue-100, #DBEAFE);
        z-index: 1;
        p {
            color: var(--blue-700, #1D4ED8);
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
        
        }
        
    }

    &__bestdeal {
        position: absolute;
        display: inline-flex;
        padding: .8rem 1.6rem;
        bottom: 1.6rem;
        left: 1.6rem;
        align-items: flex-start;
        gap: 1rem;
        border-radius: 3.2rem;
        background: var(--green-100, #D1FAE5);
        z-index: 1;
        p {
            color: var(--green-700, #047857);
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
        
        }
    }
}

.swiper-wrapper {
    
}
.divider {

    &__line {
    }

    &__text {
    }
}
@media (max-width: 1024px) {
    .divider {
        justify-content: center;
        flex-direction: column;
    }
    .house {
        &__menu {
            flex-direction: column;
            gap: 1.5rem;
        }
        &__items {
            &-wrapper {
                gap: 0;
                margin-left: 5rem;
            }
        }
    }
}
@media (max-width: 900px) {
    .house__items-wrapper {
        margin-left: 3rem;
    }
}
@media (max-width: 768px) {
    .house__items-wrapper {
        margin-left: 0;
        width: 100vw;
        gap: 2rem;
    }
    .house {
        &__img {
            &-main {
                width: 50vw;
            }
        }
    }
}
@media (max-width: 500px) {
    .house {
        &__tabs {
            flex-direction: column;
        }
        &__img {
            &-main {
                width: 100vw;
            }
        }
        &__items-wrapper {
            gap: 0;
        }
    }
}